
body {
  margin: 0;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

h2, .section_heading {
  color: cornflowerblue;
}

.centered {
  text-align: center;
  margin: auto;
  padding-top:1rem;
  padding-bottom: 1rem;;
}

.main_p {
  padding:1rem;
}

button {
  background-color: cornflowerblue;
  padding: 1rem;
}

.list_button {
  padding: 1rem;
}

.click_me {
  font-size: 2rem;
  color: orange;
}

table {
  margin: auto;
  padding-top:2rem;
  padding-bottom:2rem;
}

thead {
  color: orange;
}

th {
  text-align: left;
}

td {
  padding-right: 1rem;
}

.people {
  margin: auto;
  text-align: center;
  list-style-type: none;
}

.colour_square {
  margin: auto;
}

.form {
  justify-content: start;
}

input {
  border-radius: 2px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}


label {
  padding-right: 1rem;
  color: cornflowerblue;
}

.list-group {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.list-group-item {
  color: cornflowerblue;
}


li {
  list-style-type: none;
}